server {
        listen       8085;
        listen       [::]:8085;
        server_name  192.168.20.101;

        root         /opt/nginx/;
        index        test.html;
        location / {
        }
}
